
/* dashboard */
.quizList {
    margin: auto;
    margin-top: 10px;
    padding: 10px; 
    width: 80%;
    min-height: 600px;
    display: flex;
    flex-flow: row wrap;
}

.quizItem {
    border-radius: 10px;
    margin: 10px;
    height: 300px;
    width: calc(100% - 22px);
}

@media screen and (width > 800px) {
    .quizItem {
        width: calc(50% - 22px);
    }
}

@media screen and (width > 1200px) {
    .quizItem {
        width: calc(33.33333% - 22px);
    }
}

@media screen and (width > 1600px) {
    .quizItem {
        width: calc(25% - 22px);
    }
}

.buttonAreaDashboard {
    border-radius: 10px;
    width:100%;
    align-items: center;
    text-align: center;
    background-color: blue;
    display:flex;
    justify-content: center;
    height: 50px;
}

.deleteBtn {
    border-top-left-radius: 10px;
    color: #282c34;
    background-color: #61dafb;
    flex: 1;
    height: 100%;
    border: none;
}

.editBtn {
    color: #282c34;
    background-color: #61dafb;
    flex: 1;
    height: 100%;
    border: none;
}

.startBtn {
    border-top-right-radius: 10px;
    color: #282c34;
    background-color: #61dafb;
    flex: 1;
    height: 100%;
    border: none;
}

.deleteBtn:hover {
    color: #3ab5d7;
    flex: 1;
    height: 100%;
    border: none;
}

.editBtn:hover {
    color: #3ab5d7;
    flex: 1;
    height: 100%;
    border: none;
}

.startBtn:hover {
    color: #3ab5d7;
    flex: 1;
    height: 100%;
    border: none;
}

.GameLink {
    margin-top: 5px;
    padding:10px;
    height: calc(100% - 75px);
    background-color: #e8e2d1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gameName {
    color: #282c34;
    margin-top: 10px;
    font-size: 22px;
}

.gameCreated {
    color: #696969;
}

.newGameLink {
    height: 100%;
    width: 100%;
    background-color: rgb(203, 203, 203);
    color: rgb(98, 98, 98);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.quizCreate {
    margin-top: 10px;
    font-style: Arial;
    color: rgb(98, 98, 98);
}

/*  quiz/new  */
.createPage {
    background-color: #282c34;
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.pageTitle {
    color: white;
}

.highlight {
    color: #61dafb;
}

.inputName {
    margin: 0;
    width: 300px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    background-color: #282c34;
    border-style: solid;
    border-color:#61dafb;
    border-radius: 10px;
    color: #61dafb
}

.inputName::placeholder {
    color: #61dafb;
}

.cancelBtn {
    width: 90px;
    height: 30px;
    background-color: #282c34;
    border: #61dafb 2px solid;
    border-radius: 15px;
    color: #61dafb;
    font-size: 15px;
}

.nextBtn {
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: #61dafb;
    border: #61dafb 2px solid;
    border-radius: 15px;
    color: #282c34;
    font-weight: 600;
}