.quizList {
    margin: auto;
    margin-top: 10px;
    padding: 10px; 
    width: 80%;
    min-height: 600px;
    display: flex;
    flex-flow: row wrap;
}


.quizItem {
    margin: 10px;
    height: 300px;
    width: calc(100% - 22px);
    border: #61dafb 1px solid;
}

@media screen and (width > 600px) {
    .quizItem {
        width: calc(50% - 22px);
    }
}

@media screen and (width > 900px) {
    .quizItem {
        width: calc(33.33333% - 22px);
    }
}

@media screen and (width > 1200px) {
    .quizItem {
        width: calc(25% - 22px);
    }
}

@media screen and (width > 1500px) {
    .quizItem {
        width: calc(20% - 22px);
    }
}

.gameName {
    color: black;
    margin: 5px;
}

.gameCreated {
    color: rgb(98, 98, 98);
    margin: 5px;
}

.newGameLink {
    height: 100%;
    width: 100%;
    background-color: rgb(203, 203, 203);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.quizCreate {
    margin-top: 10px;
    font-style: Arial;
    color: rgb(98, 98, 98);
}

.createPage {
    background-color: #282c34;
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.pageTitle {
    color: white;
}

.highlight {
    color: #61dafb;
}

.inputName {
    margin: 0;
    width: 300px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    background-color: #282c34;
    border-style: solid;
    border-color:#61dafb;
    border-radius: 10px;
    color: #61dafb
}

.inputName::placeholder {
    color: #61dafb;
}

.cancelBtn {
    width: 90px;
    height: 30px;
    background-color: #282c34;
    border: #61dafb 2px solid;
    border-radius: 15px;
    color: #61dafb;
    font-size: 15px;
}

.nextBtn {
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: #61dafb;
    border: #61dafb 2px solid;
    border-radius: 15px;
    color: #282c34;
    font-weight: 600;
}